@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.section1{
    width: 100%;
    height: 115vh;
    background-color: #fbf8f3;
    padding-left: 10%;
    padding-right: 10%;
}
/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.heading{
    font-size: 1.5rem;
    font-style: italic;
    color: #1DA1F2;
    font-weight: 600;
}
.menu ul{
    display: flex;
}
.menu ul>li{
    margin-right: 40px;
    list-style: none;
    font-weight: 300;
}
.menu{
    display: flex;
    align-items: center;
}
li>a{
    text-decoration: none;
    color: #595959;
    font-size: 1.2rem;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1DA1F2;
    border-radius: 5px;
    border: none;
    transition: 0.4s;
}
button:hover{

    transform: scale(1.05);
    box-shadow: 3px 3px 20px #8e8e8e;
}
button>p{
    color: white;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 600;
}
button>img{
    margin: 1px 15px;
    transform: scale(1.3);
}
/* navbar section */

/* container secrtion */
.container{
    display: flex;
    justify-content: space-between;
}
.con-content{
    width: 39%;
    transition: 0.5s;
}
.con-content:hover{
    transform: scale(1.04);
    box-shadow: 8px 8px 20px #abd6f0;
}
.con-header{
font-size: 3rem;
}
.con-para p{
    font-size: 1.3rem;
    font-weight: 400;
    color: #737373;
}
.con-btn{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}
.con-pro img{
    width:260px;
}

.con-btn a{
    font-size: 1.3rem;
    margin-left: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: #1f7898;
}
.con-btn i{
    font-size: 1.1rem;
    margin-left: 10px;
    color: #1f7898;
}
.con-para2{
    margin-top: 2rem;
}
.con-para2 h5,p{
    display: inline;
    font-size: 1.3rem;
    font-weight: 300;
    /* letter-spacing: 1px; */
    color: #737373;
    line-height: 2rem;
}
.con-para2 div>h5{
    color: #1f7898!important;
}
/* container secrtion */

/* section2 open  */
.section2{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;    
}
.text-section2{
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    
}
.section2 .content-card{
    display: grid;
    grid-template-columns: auto auto;
}
.card{
    width: 95%;
    padding: 2rem;
    border: 1px solid #8e8e8e;
    border-radius: 0.5rem;;
    text-align: justify;
    margin-bottom: 5%;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 10px rgb(183, 183, 183);
}
.card i{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.card h2{
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
.card p{
    font-size: 1.2rem;
}
/* section2 close  */
/* section3  */
.section3{
    width: 100%;
    background-color: #d7f5f5;
    padding-left: 10%;
    padding-right: 10%;
}
.section3 .text-section3{
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    padding-top: 4rem;
}
.card-sec3{
    display: grid;
    grid-template-columns: auto auto auto;
padding-bottom: 4rem;
}
.customer-card{
    width: 95%;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    height: fit-content;
    transition: 0.5s;
}
.customer-card:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 20px #55b8f6;

}

.heading2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.heading2 .info{
    display: flex;
    align-items: center;
}
.name >h2{
    font-size: 1.3rem;
}
.name >p{
    font-size: 1rem;
    color: #595959;
}
.info .profile img{
    width: 5rem;
    margin-right: 1rem;
}
.cus-text>p{
    font-size: 1.2rem;
    color: #595959;
}
.cus-text{
    margin-bottom: 1rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer div{
    display: flex;
    align-items: center;
}
.footer div .like{
    margin-right: 0.5rem;
}
.footer div>.num , .date>p{
    font-size: 1.2rem;
    color: #595959;
}

/* customer say it  */
.section4{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    height: fit-content;
    padding-bottom: 4%;
    
}
.container2{
    width: 45%;
    margin:auto;
    background-color: #fbf8f3;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 2%;
    border: 1px solid rgb(255, 191, 0);
    border-radius: 10px;
    transition: 0.5s;
}
.container2:hover{
    transform: scale(1.04);
    box-shadow: 5px 5px 20px gray;
}
.container2>p{
    font-size: 2rem;
    
}
.price{
    margin-top: 0.5rem;
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}
.price>h1{
    font-size: 5rem;
}
.price>p{
    font-size: 2rem;
}
.check-section{
    margin-top: 1rem;
    padding-bottom:1.5rem ;
    
}
.checkmark{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    align-items: center;
}

.checkmark>img{
    margin-right: 1rem;
    width: 1.8rem;
}
.checkmark1{
    display: flex;
    align-items: flex-start;
}
.checkmark1>img{
    margin-right: 1rem;
    width: 2rem;
}
.prc-content{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.prc-content .header4{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.con-btn1 button{
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 0;
}
/* footer section  */
.footer-sec{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d7f5f5;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contact{
   display: flex;
    align-items: center;    
}
.contact-text>a{
    margin-left: 3rem;
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
}